astroid==3.1.0
asyncpg==0.29.0
click==8.1.7
coverage==7.4.3
dill==0.3.8
importlib_metadata==7.0.2
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
psycopg2-binary==2.9.9
pyfiglet==1.0.2
pylint==3.1.0
pytest==8.1.1
pytest-asyncio==0.23.5.post1
pytest-cov==4.1.0
pytest-timeout==2.3.1
python-dotenv==1.0.1
setuptools==69.1.1
sqlparse==0.4.4
tabulate==0.9.0
tomli==2.0.1
tomlkit==0.12.4
tqdm==4.66.2
yapf==0.40.2
yoyo-migrations==8.2.0
zipp==3.18.0
